<h2><a href="{% url 'home' %}">Home</a></h2>
<h2>Task</h2>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="update" value="Update" />
    <input type="submit" name="delete" value="Delete" />
    
</form>

<h2>Tag</h2>

<form method="POST">
    {% csrf_token %}
    {{ tag_form }}
    <input type="submit" name="create_tag" value="create_tag" />
    
    
</form>

<ul>
    {% for tag in tags %}
       <li>{{ tag.name }}</li>
    {% endfor %}
</ul>



<form method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit" name="add" value="add" />
    

</form>

<ul>
    {% for comment in comment_list %}
       <li>{{ comment.body }}</li>
    {% endfor %}
</ul>